<div class="carousel-wrapper">
    <div class="video-div">
        <app-video [videoID]="'yRWY9UogMJA'"></app-video>
    </div>
    <div class="infos-div">
        <h3>TITRE</h3>
        <p class="description">
            LOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOONG
            LOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOONG
            LOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOONG
            LOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOONG
            LOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOONG
            LOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOONG
            LOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOONG
            LOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOONG
            LOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOONG
            LOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOONG
            LOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOONG
            LOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOONG
        </p>
        <h3>EN SAVOIR PLUS</h3>
    </div>

</div>