<!--The content below is only a placeholder and can be replaced.-->


<mat-sidenav-container>

  <mat-sidenav #sidenav mode="over">
    <p>Hello</p>
    <a [routerLink]="['/first']" [routerLinkActive]="['is-active']">First</a>
    <a [routerLink]="['/second']" [routerLinkActive]="['is-active']">Second</a>
    <a [routerLink]="['/dashboard']" [routerLinkActive]="['is-active']">Dashboard</a>

  </mat-sidenav>

  <mat-sidenav-content>

    <button mat-raised-button color="primary" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <router-outlet></router-outlet>
  </mat-sidenav-content>


</mat-sidenav-container>